Repository eyalrot/ollama_openai: changes, and which Codecov flags are due for each by the changed paths.
All: unit_tests, integration_tests, performance_tests, Configuration Management, Data Models, Translation Layer, API Routes, Utilities

fix: improve Docker Hub authentication and token management
  .github/workflows/docker.yml
  Makefile
Due: none

chore: bump version to 0.6.8 - test Docker Hub token fix
  src/_version.py
Due: none

feat: add Ollama SDK compatibility improvements (v0.6.9)
  .taskmaster/docs/swagger-enhancement-prd.txt
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  CHANGELOG.md
  NEW_PRD.md
  PRD.md
  README.md
  coverage.xml
  ollama_sdk_test/COMPATIBILITY_REPORT.md
  ollama_sdk_test/README.md
  ollama_sdk_test/config.py
  ollama_sdk_test/requirements.txt
  ollama_sdk_test/run_tests.py
  ollama_sdk_test/test_basic_operations.py
  ollama_sdk_test/test_embeddings.py
  ollama_sdk_test/test_ollama_compatibility.py
  ollama_sdk_test/utils/__init__.py
  ollama_sdk_test/utils/test_helpers.py
  pyproject.toml
  src/_version.py
  src/models.py
  src/routers/embeddings.py
  test_before_commit.md
  tests/unit/routers/test_embeddings.py
  tests/unit/test_models.py
Due: Data Models, API Routes

feat: add LiteLLM integration setup for Ollama SDK testing
  docker-compose.yml
  ollama_sdk_test/.env.example
  ollama_sdk_test/litellm_integ/.env.example
  ollama_sdk_test/litellm_integ/README.md
  ollama_sdk_test/litellm_integ/docker-compose-litellm copy.yml
  ollama_sdk_test/litellm_integ/docker-compose-openai.yml
  ollama_sdk_test/litellm_integ/litellm_config.yaml
Due: none

fix: resolve Ollama SDK compatibility and CI issues
  ollama_sdk_test/litellm_integ/docker-compose-openai.yml
  ollama_sdk_test/test_basic_operations.py
  ollama_sdk_test/test_embeddings.py
  ollama_sdk_test/test_ollama_compatibility.py
  ollama_sdk_test/utils/test_helpers.py
  src/models.py
  src/routers/embeddings.py
  src/routers/models.py
  src/translators/chat.py
  src/translators/embeddings.py
  test_before_commit.md
  test_before_push.md
  tests/unit/routers/test_embeddings.py
  tests/unit/routers/test_models.py
  tests/unit/test_models.py
Due: Data Models, Translation Layer, API Routes

bump: version 0.7.0
  CHANGELOG.md
  ollama_sdk_test/docker-compose-openai.yml
  src/_version.py
  tests/unit/translators/test_chat.py
Due: none

Path conditions:
  unit_tests: any of: tests/unit/, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  integration_tests: any of: tests/integration/, tests/test_docker.py, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  performance_tests: any of: tests/performance/, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  Configuration Management: any of: src/config.py, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  Data Models: any of: src/models.py, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  Translation Layer: any of: src/translators/, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  API Routes: any of: src/routers/, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  Utilities: any of: src/utils/, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
