Repository eyalrot/ollama_openai: changes, and which Codecov flags are due for each by the changed paths.
All: unit_tests, integration_tests, performance_tests, Configuration Management, Data Models, Translation Layer, API Routes, Utilities

Path conditions:
  unit_tests: any of: tests/unit/, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  integration_tests: any of: tests/integration/, tests/test_docker.py, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  performance_tests: any of: tests/performance/, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  Configuration Management: any of: src/config.py, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  Data Models: any of: src/models.py, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  Translation Layer: any of: src/translators/, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  API Routes: any of: src/routers/, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  Utilities: any of: src/utils/, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**

fix: resolve pytest configuration and code formatting issues
  pyproject.toml
  pytest.ini
  src/config.py
  src/main.py
  src/middleware/error_handler.py
  src/middleware/logging_middleware.py
  src/middleware/metrics_middleware.py
  src/models.py
  src/routers/chat.py
  src/routers/metrics.py
  src/routers/models.py
  src/translators/base.py
  src/translators/chat.py
  src/translators/embeddings.py
  src/utils/benchmarks.py
  src/utils/exceptions.py
  src/utils/http_client.py
  src/utils/load_test.py
  src/utils/logging.py
  src/utils/metrics.py
  tests/performance/test_metrics_performance.py
  tests/test_docker.py
  tests/unit/routers/test_chat.py
  tests/unit/routers/test_embeddings.py
  tests/unit/routers/test_models.py
  tests/unit/test_config.py
  tests/unit/test_exceptions.py
  tests/unit/test_logging.py
  tests/unit/test_main.py
  tests/unit/test_model_mapping.py
  tests/unit/test_models.py
  tests/unit/translators/test_base.py
  tests/unit/translators/test_chat.py
  tests/unit/utils/test_http_client.py
  tests/unit/utils/test_http_client_streaming.py
Due: Configuration Management, Data Models, Translation Layer, API Routes, Utilities

fix: temporarily ignore linting issues for CI compatibility
  pyproject.toml
Due: none

fix: add stacklevel to warnings.warn to fix test failure
  pyproject.toml
  src/config.py
Due: Configuration Management

fix: resolve pytest warning filter issue for test_timeout_retry_warning
  pyproject.toml
  pytest.ini
  tests/unit/test_config.py
Due: none

fix: black formatting for config.py
  src/config.py
Due: Configuration Management

fix: resolve CI coverage and security scan issues
  .github/workflows/ci.yml
  .github/workflows/security.yml
  pyproject.toml
  pytest.ini
Due: none

fix: add MIT LICENSE file and update Codecov configuration
  LICENSE
  codecov.yml
Due: none

fix: correct Docker build badge workflow name
  README.md
Due: none

fix: improve all GitHub badges with proper URLs
  README.md
Due: none

docs: clarify Phase 1 completion and Phase 2 readiness status
  README.md
Due: none

feat: remove Phase 1 validation blocks to enable Phase 2 features
  src/translators/chat.py
  tests/unit/translators/test_chat.py
Due: Translation Layer

feat: implement comprehensive tool calling translation (Phase 2)
  src/translators/chat.py
  tests/unit/test_phase2_tool_calling.py
Due: Translation Layer

feat: implement comprehensive multimodal image input support (Phase 2)
  src/translators/chat.py
  tests/unit/test_phase2_multimodal.py
  tests/unit/translators/test_chat.py
Due: Translation Layer

docs: update README and add Phase 2 examples and documentation
  README.md
  examples/phase2/README.md
  examples/phase2/multimodal_example.py
  examples/phase2/tool_calling_example.py
Due: none

task: update TaskMaster tasks for Phase 2 completion
  .taskmaster/tasks/task_019.txt
  .taskmaster/tasks/task_020.txt
  .taskmaster/tasks/tasks.json
Due: none

feat: add SSL-enabled Docker Compose configuration for private certificates
  .env.ssl.example
  SSL_SETUP.md
  docker/docker-compose.ssl.yml
Due: none

feat: add optional model mapping with pass-through mode
  README.md
  src/config.py
  tests/unit/test_model_mapping.py
Due: Configuration Management

feat: add comprehensive OpenRouter testing and SSL production setup
  .env.ssl
  .env.test
  .serena/cache/python/document_symbols_cache_v23-06-25.pkl
  .serena/memories/current_project_state.md
  config/model_map.json
  docker/docker-compose.ssl.yml
  src/config.py
  test_mapping.py
  test_no_mapping.py
  test_openrouter_free.py
  test_production.py
  test_request.json
  test_ssl_production.py
Due: Configuration Management

security: remove .env files with API keys from git tracking
  .env.ssl
  .env.test
  .gitignore
Due: none

cleanup: remove test files
  test_mapping.py
  test_no_mapping.py
  test_openrouter_free.py
  test_production.py
Due: none

docs: add Docker Images section to README
  README.md
Due: none

feat: add no-build docker-compose configurations using Docker Hub images
  docker/docker-compose.prod-no-build.yml
  docker/docker-compose.ssl-no-build.yml
Due: none

docs: clarify that model mapping is optional and not required
  README.md
Due: none

simplify: remove custom network from no-build docker-compose files
  docker/docker-compose.prod-no-build.yml
  docker/docker-compose.ssl-no-build.yml
Due: none

feat: remove deprecated version field from all docker-compose files
  README.md
  docker-compose.yml
  docker/docker-compose.ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.prod-no-build.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.ssl-no-build.yml
  docker/docker-compose.ssl.yml
  examples/config/docker-compose.override.yml
Due: none

feat: update Python source files
  src/config.py
  src/main.py
  src/routers/models.py
  src/utils/http_client.py
Due: Configuration Management, API Routes, Utilities

fix: comprehensive test suite fixes and improvements
  .env.example
  docker-compose.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.prod-no-build.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.ssl-no-build.yml
  docker/docker-compose.ssl.yml
  src/main.py
  src/utils/exceptions.py
  tests/unit/test_config.py
  tests/unit/test_main.py
Due: Utilities

docs: add comprehensive test-before-commit report
  test-before-commit-report.md
Due: none

fix: resolve failed unit tests and update documentation
  README.md
  docs/TESTING.md
  src/utils/benchmarks.py
  tests/test_docker.py
Due: Utilities

feat: add endpoint testing utility and development tools
  .claude/commands/test-before-commit.md
  .claude/settings.json
  missing-tests.txt
  modified-files.txt
  test-before-commit-report.md
  test-files.txt
  test_endpoints.py
  venv_path.txt
Due: none

docs: add Claude Code integration guide and configuration
  .claude/CLAUDE.md
Due: none

bad commit to revert
  src/main.py
Due: none

Revert "bad commit to revert"
  src/main.py
Due: none

fix: resolve CI pipeline linting and formatting issues
  src/config.py
  src/main.py
  src/routers/models.py
  src/translators/chat.py
  src/utils/benchmarks.py
  src/utils/exceptions.py
  src/utils/http_client.py
  tests/unit/test_config.py
  tests/unit/test_main.py
  tests/unit/test_model_mapping.py
  tests/unit/test_phase2_multimodal.py
  tests/unit/test_phase2_tool_calling.py
Due: Configuration Management, Translation Layer, API Routes, Utilities

feat: implement comprehensive embeddings API functionality
  .claude/CLAUDE.md
  .claude/commands/test-before-commit.md
  .serena/cache/python/document_symbols_cache_v23-06-25.pkl
  .taskmaster/tasks/task_020.txt
  .taskmaster/tasks/task_021.txt
  .taskmaster/tasks/tasks.json
  README.md
  config/model_map.example.json
  docs/MODEL_MAPPING.md
  src/models.py
  src/routers/embeddings.py
  src/translators/embeddings.py
  test_before_commit.md
  tests/unit/routers/test_embeddings.py
  tests/unit/translators/test_embeddings.py
Due: Data Models, Translation Layer, API Routes

docs: add test-before-push command for Claude Code
  .claude/commands/test-before-psuh.md
Due: none

fix: resolve linting and formatting issues in embeddings translator
  src/translators/embeddings.py
Due: Translation Layer

fix: resolve CI pipeline linting and formatting issues
  examples/phase2/multimodal_example.py
  examples/phase2/tool_calling_example.py
  examples/python/basic_generation.py
  examples/python/batch_processing.py
  examples/python/langchain_integration.py
  examples/python/streaming_chat.py
  src/models.py
  src/routers/embeddings.py
  test_endpoints.py
  test_ssl_production.py
  tests/unit/routers/test_embeddings.py
  tests/unit/translators/test_embeddings.py
Due: Data Models, API Routes

chore: clean up temporary files and update test report
  SSL_SETUP.md
  missing-tests.txt
  modified-files.txt
  task_status.md
  test-files.txt
  test_before_commit.md
  test_endpoints.py
  test_request.json
  test_ssl_production.py
  venv_path.txt
Due: none

chore: remove .serena/cache from tracking and add to .gitignore
  .gitignore
  .serena/cache/python/document_symbols_cache_v23-06-25.pkl
Due: none
