Repository eyalrot/ollama_openai: changes, and which Codecov flags are due for each by the changed paths.
All: unit_tests, integration_tests, performance_tests, Configuration Management, Data Models, Translation Layer, API Routes, Utilities

Path conditions:
  unit_tests: any of: tests/unit/, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  integration_tests: any of: tests/integration/, tests/test_docker.py, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  performance_tests: any of: tests/performance/, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  Configuration Management: any of: src/config.py, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  Data Models: any of: src/models.py, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  Translation Layer: any of: src/translators/, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  API Routes: any of: src/routers/, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**
  Utilities: any of: src/utils/, but not: tests/**/*, **/*test*.py, **/conftest.py, **/setup.py, **/manage.py, **/__pycache__/**, **/migrations/**, **/htmlcov/**, **/.pytest_cache/**, **/build/**, **/dist/**, **/.tox/**, **/venv/**, **/.venv/**

docs: fix grammar and spelling in README.md
  README.md
Due: none

feat: implement dual API format support with comprehensive documentation
  .claude/CLAUDE.md
  ARCHITECTURE.md
  README.md
  docs/API_COMPATIBILITY.md
  docs/CONFIGURATION.md
  docs/MODEL_MAPPING.md
  docs/MONITORING_INTEGRATION.md
  docs/PERFORMANCE_BENCHMARKS.md
  docs/QUICK_START.md
  docs/SECURITY.md
  docs/TESTING.md
  docs/TROUBLESHOOTING.md
  pytest.ini
  src/middleware/metrics_middleware.py
  src/models.py
  src/routers/chat.py
  src/routers/embeddings.py
  src/translators/base.py
  src/utils/request_body.py
  test_before_commit.md
  tests/unit/routers/test_chat.py
  tests/unit/routers/test_embeddings.py
  tests/unit/routers/test_models.py
  tests/unit/test_models.py
  tests/unit/utils/test_request_body.py
Due: Data Models, Translation Layer, API Routes, Utilities

style: apply black formatting to codebase
  src/middleware/metrics_middleware.py
  src/models.py
  src/routers/chat.py
  src/routers/embeddings.py
  src/utils/request_body.py
  tests/unit/routers/test_embeddings.py
  tests/unit/utils/test_request_body.py
Due: Data Models, API Routes, Utilities

fix: resolve flake8 unused variable and import issues
  .claude/commands/test-before-push.md
  src/config.py
  src/routers/embeddings.py
  src/utils/metrics.py
  tests/unit/routers/test_embeddings.py
Due: Configuration Management, API Routes, Utilities

style: apply black formatting to config.py
  src/config.py
Due: Configuration Management

docs: add test-before-commit report for recent changes
  test_before_commit.md
Due: none

fix: improve codecov badge and CI integration
  .claude/commands/test-before-push.md
  .github/workflows/ci.yml
  README.md
Due: none

feat: implement comprehensive version management system v0.6.0
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  pyproject.toml
  src/__init__.py
  src/_version.py
  src/main.py
  src/routers/version.py
  test_before_push.md
Due: API Routes

fix: switch Docker publishing to GHCR only
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
Due: none

docs: update documentation to version 0.6.0
  ARCHITECTURE.md
  README.md
  src/__init__.py
  src/_version.py
  src/main.py
  src/routers/version.py
Due: API Routes

fix: resolve import sorting issues in main.py and version.py
  src/main.py
  src/routers/version.py
Due: API Routes

fix: update badges to resolve codecov unknown status and Docker image size issues
  README.md
Due: none

feat: add PyPI package publishing and CI integration
  .github/workflows/ci.yml
  .github/workflows/pypi-publish.yml
  README.md
  pyproject.toml
  src/main.py
Due: none

bump: version 0.6.1 for PyPI testing
  src/_version.py
Due: none

fix: correct package import tests in PyPI workflows
  .github/workflows/ci.yml
  .github/workflows/pypi-publish.yml
Due: none

bump: version 0.6.2 with PyPI workflow fixes
  src/_version.py
Due: none

fix: add project dependencies installation to CI and PyPI workflows
  .github/workflows/ci.yml
  .github/workflows/pypi-publish.yml
Due: none

fix: add pydantic-settings dependency to pyproject.toml
  pyproject.toml
Due: none

fix: add missing runtime dependencies to pyproject.toml
  pyproject.toml
Due: none

fix: avoid loading settings in CI package verification
  .github/workflows/ci.yml
  .github/workflows/pypi-publish.yml
Due: none

fix: replace relative import with absolute import for package compatibility
  src/utils/http_client.py
Due: Utilities

fix: correct package import tests and revert breaking changes
  .github/workflows/ci.yml
  .github/workflows/pypi-publish.yml
  src/utils/http_client.py
  test_before_commit.md
Due: Utilities

debug: investigate installed package structure
  .github/workflows/ci.yml
Due: none

fix: resolve package structure issues in setuptools configuration
  .github/workflows/ci.yml
  dist-test/ollama_openai_proxy-0.6.2-py3-none-any.whl
  pyproject.toml
  venv-test/bin/Activate.ps1
  venv-test/bin/activate
  venv-test/bin/activate.csh
  venv-test/bin/activate.fish
  venv-test/bin/dotenv
  venv-test/bin/fastapi
  venv-test/bin/httpx
  venv-test/bin/ollama-openai-proxy
  venv-test/bin/pip
  venv-test/bin/pip3
  venv-test/bin/pip3.12
  venv-test/bin/python
  venv-test/bin/python3
  venv-test/bin/python3.12
  venv-test/bin/uvicorn
  venv-test/bin/watchfiles
  venv-test/bin/websockets
  venv-test/lib64
  venv-test/pyvenv.cfg
Due: none

feat: update Docker workflows to only push images on GitHub releases
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

docs: add N8N use case explanation and remove version-specific text
  README.md
Due: none

feat: add Docker Hub publishing alongside GHCR
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

chore: bump version to 0.6.3 and update README for dual registry support
  README.md
  src/_version.py
Due: none

fix: improve Docker workflow error handling and Trivy scan
  .github/workflows/docker.yml
Due: none

test: trigger Docker workflow to test Docker Hub authentication
  .github/workflows/docker-test.md
Due: none

fix: correct GitHub Actions secret condition syntax
  .github/workflows/docker.yml
Due: none

chore: bump version to 0.6.4
  src/_version.py
Due: none

fix: improve PyPI authentication with trusted publishing support
  .github/PYPI_AUTHENTICATION.md
  .github/workflows/pypi-publish.yml
Due: none

chore: bump version to 0.6.5
  src/_version.py
Due: none

docs: remove Kubernetes deployment section from README
  README.md
Due: none

feat: enhance Docker Compose integration with auto-detection and new configurations
  Makefile
  docker/docker-compose.cluster.yml
  docker/docker-compose.debug.yml
  docker/docker-compose.monitoring.yml
Due: none

test: fix all failing tests and enhance development infrastructure
  .gitignore
  README.md
  docs/Makefile.md
  pytest.ini
  tests/unit/test_main.py
Due: none

chore: bump version to 0.6.6
  src/_version.py
Due: none

fix: enable version tags for Docker images on release
  .github/workflows/docker.yml
Due: none

chore: bump version to 0.6.7
  src/_version.py
Due: none
